.navbar {
    background-color: rgb(168, 168, 233) !important; /* Ngjyra e sfondit */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: black ; /* Ngjyra e tekstit */
}

.navbar-toggler-icon {
    color: black; /* Ngjyra e ikonës së navbar-toggler */
}
