body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foget-pass-box {
    width: 300px; /* ose caktojeni gjërësinë e dëshiruar */
}
